.navItemLi {
  list-style-type: none;
}
.navItemLi:not(:last-child) {
  margin-bottom: 5px;
}
.navItemLi:last-child {
  margin-top: 35px;
}

.navItemLi a {
  color: white;
  font-size: 30px;
  font-weight: 500;
  text-decoration: none;
}

.navItemLi a:hover {
  color: grey;
  cursor: pointer;
}

.navItemLi a.activeLink {
  color: gold;
}
