.dialog:not(:last-child) {
  margin-bottom: 20px;
}

.avatar {
  border-radius: 50%;
  margin-right: 10px;
}

.dialog a {
  text-decoration: none;
  color: rgb(19, 18, 18);
  font-size: 20px;
  margin-left: 10px;

  display: flex;
  align-items: center;
}

.dialog a:hover,
.activeDialog {
  box-shadow: 1px 1px 5px 1px black;
}
